<% if @exchange.errors.any? %>
      <% @exchange.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
          <%= content_tag :div, msg %>
        </div>
      <% end %>
<% end %>